<% require_relative('./HelperDisplayFunctions') 
%>

<h1>Welcome to Doctor Page</h1>

<div class="container">
    <h2>Patient Listing</h2>
    <table class="table table-striped">
<thead>
      <tr>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Middlename</th>
        <th>Admittance</th>        
        <th>Treatment</th>
        <th>Family Physician</th>
        <th>Faciliity</th>  
        <th>Room</th> 
        <th>Discharge</th>
      </tr>
</thead>
    <tbody> 
        
    
<% @patients.each do |patient| %>
<tr> 

        <td><%= HelperDisplay.nametry(patient.last_name) %></td>
        <td><%= HelperDisplay.nametry(patient.first_name) %></td>
        <td><%= HelperDisplay.nametry(patient.middle_name) %></td>
        <td><%= HelperDisplay.datetry(patient.admittance) %></td>
        <td><%= HelperDisplay.treatmenttry(patient.treatment) %></td>
        <td><%= HelperDisplay.fphysiciantry(patient.physician) %></td>
        <td><%= HelperDisplay.facilitytry(patient.location) %></td>
        <td><%= HelperDisplay.roomtry(patient.location) %></td>
        <td><%= HelperDisplay.datetry(patient.discharge) %></td>
        <td><%= link_to "View", page_path(patient) %></td>
</tr>        
<%end%>        
    
    </tbody>
  </table>

</div>

