<h1>Welcome to Medical Page</h1>

<div class="container">
    <h2>Patient Listing</h2>
    <table class="table table-striped">
<thead>
      <tr>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Middlename</th>
        <th>Admittance</th>        
        <th>Treatment</th>
        <th>Family Physician</th>
        <th>Faciliity</th>  
        <th>Room</th> 
        <th>Discharge</th>
      </tr>
    </thead>
    <tbody>
<% @patients.each do |patient|%>
    <tr>
        <td><%= patient.last_name %></td>
        <td><%= patient.first_name %></td>
        <td><%= patient.middle_name %></td>
        <td><%= @admittance.date %></td>
        <td><%= @treatment.name %></td>
        <td><%= @physician.family_physician%></td>
        <td><%= @location.facility %></td>
        <td><%= @location.room %></td>
        <td><%= @discharge.date %></td>
    </tr>
<%end%>    
    </tbody>
  </table>
</div>

