   <% accessVar = "" %>
   <% imagePath = '' %>
   <% if current_user.doctor_role %>
     <% accessVar = "doctor" %>
     <% imagePath = 'doctorStaff.jpg' %>
   <% end %>
   <% if current_user.medical_role %>
     <% accessVar = "medical" %>
     <% imagePath = 'medicalStaff.jpg' %>
   <% end %>
   <% if current_user.office_role %>
     <% accessVar = "office" %>
     <% imagePath = 'officeStaff.jpg' %>
   <% end %>
   <% if current_user.volunteer_role %>
     <% accessVar = "volunteer" %>
     <% imagePath = 'volunteerStaff.jpg' %>
   <% end %>

	<div class="container" id="wrapper">
		<div class="info_boxes" id="info_box1">
			<h1>Patient Search Screen</h1>
			<div class="welcome_box">
				<p> <%= current_user.email %> </p>
				<p>Access Rights: <span id="access_rights"> <%= accessVar %> </span></p>
			</div>
		</div>
		
		<div class="info_boxes" id="info_box2">
			<div class="patient_box">
                <!--
				<form>
					<div class="form-group">
						<label for="First Name">First Name</label>
						<input type="text" name="last name" class="form-control" id="firstName" />
					</div>
					<div class="form-group">
						<label for="First Name">Last Name</label>
						<input type="text" name="last name" class="form-control" id="lastName" />
					</div>
				</form>
                -->
                <div class="form-group">
                  <%#= form_tag(pages_path, method: :get) do %> 
                    <%#= text_field_tag :term, params[:term] %>
                    <%#= submit_tag 'Search' %>
                  <%# end %>
                  
                  <%= form_tag pages_patient_results_path, :method => 'get' do %>
                    <p>
                      <%= text_field_tag :search %>
                      <%= submit_tag "search" %>
                    </p>
                  <% end %>

                </div>


			</div>
			<div class="image_box">
                <%= image_tag(imagePath) %>
			</div>
		</div>

		<div class="info_boxes" id="info_box3">			
			<div class="form-group search_button_div">
                <% if !current_user.superadmin_role? %>
                  <p> Search All Patients</p><br>
                  <%= link_to "Find Patients", {controller: "pages", action: "index"}, class: "btn btn-small btn-success" %>
                <% end %>
                
                <% if accessVar == "office"%>
                  <div class="office_worker_message">
                    <p>If you need to add a new patient instead, click the link below</p>
                    <div class="form-group">
                        <!-- delete the immediate line below once decided on what approach to take -->
                        <a class="" href="#">Go to Add Patient Page</a>
                    </div>
                  </div>
                <% end %>
              
			</div>
            
		</div>
	</div>