<h1>Welcome to Volunteer Page</h1>
<div class="container">
    <h2>Patient Listing</h2>
    <table class="table table-striped">
<thead>
      <tr>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Middlename</th>
        <th>Faciliity</th>  
        <th>Room</th> 
      </tr>
    </thead>
    <tbody>
<% @patients.each do |patient|%>
    <tr>
        <td><%= patient.last_name %></td>
        <td><%= patient.first_name %></td>
        <td><%= patient.middle_name %></td>
        <td><%= patient.location.facility %></td>
        <td><%= patient.location.room %></td>
    </tr>
<%end%>     
    </tbody>
  </table>
</div>